body {
	padding-top: 20px;
	padding-bottom: 40px;
	background: url(../media/use_your_illusion_@2X.png) repeat 0 0;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
}

.footer-text {
	padding: 20px;
}

.footer-list {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.footer-list li {
	display: inline;
	list-style-type: none;
}

.left-sidebar {
    margin:0 0 0 auto;
}

.right-sidebar{
margin: 0 auto 0 0;
}
	/* Custom container */
.container-narrow {
	background: url(../media/cream_pixels.png) repeat 0 0;
    -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
			border-radius: 15px;
}
.container-narrow > hr {
	margin: 30px 0;
}
#command-table {
	width: 94%;
	margin: 0 3% 0 3%;
}
commandTable {
	width:100%;
}

#twitch {
	text-align: center;
	background-color: 121212;
	padding: 15px;
	margin: 5px auto;
	border: 1px solid #AAA;
}

#twitch-player {
	text-align: center;
	height: 378px;
	width: 620px;
	display: inline-block;
}

#twitch-chat {
	text-align: center;
	height: 378px;
	width: 300px;
	display: inline-block;
}

@media (max-width: 1326px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 67%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 32%;
		display: inline-block;
	}
}

@media (max-width: 1100px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 66%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 1075px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 64%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 1020px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 62%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 970px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 60%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 925px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 58%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 884px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 56%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 845px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 54%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 810px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 52%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 788px) {
	#twitch-player {
		text-align: center;
		height: 378px;
		width: 50%;
		display: inline-block;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

@media (max-width: 768px) {
	#twitch-player {
		visibility: hidden;
		width: 0;
		height: 0;
	}
	
	#twitch-chat {
		text-align: center;
		height: 378px;
		width: 252px;
		display: inline-block;
	}
}

	/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	padding: 0 50px;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
	/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing img {
	display: block;
    margin: 0 0 10px 45%;
}

.marketing p {
	margin: 2px 0 0 0;
	height: 110px;
	vertical-align: top
}

.hide {
	display: none;
}

.marketing p + h4 {
	margin-top: 28px;
}
.disclaimer {
	font-size: 10px;
	color: #999999
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Corben', Georgia, Times, serif;
}

p, div {
	font-family: 'Nobile', Helvectia, Arial, sans-serif;
}

button{
	color: white;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	overflow: hidden;
	outline:none;
    font-weight: bold;
	cursor: none;

}
ul.navtabs{
	display: inline-block;
	text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
ul.navtabs li {
    margin: 0 5px;
    padding: 0 5px;
	border-radius: 1em;
    display: inline-block;
	background-color: #cccccc;
}
ul.navtabs li:hover {
	background-color: #0077cc;
}
ul.navtabs li.selected {
	background-color: #0088cc;
}